<a href="https://colab.research.google.com/github/supanatsu/AML_Project/blob/main/Final_project_AML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Set & Library

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
dataset = pd.read_csv('MemberActivity.csv')
dataset

,Age,gender,occupation,education,lifestyle,favorite,zone,activity,month,place
0,34,female,employee,graduate,family,family,Watthana,cooking,1,Cooking Studio Town in Town
1,63,female,business,bachelor,family,travel,Yan Nawa,cooking,1,Cooking Studio Town in Town
2,37,female,employee,bachelor,family,travel,Watthana,cooking,1,Cooking Studio Town in Town
3,51,female,business,bachelor,family,family,Lat Phrao,cooking,1,Cooking Studio Town in Town
4,61,female,business,bachelor,family,family,Suan Luang,cooking,1,Cooking Studio Town in Town
...,...,...,...,...,...,...,...,...,...,...
4119,9,female,other,other,other,other,Thung Khru,stageplay,9,Rachadalai Theatre
4120,64,female,business,bachelor,other,other,Bang Rak,culture,4,Sukhothai
4121,11,female,other,other,other,other,Bang Khae,culture,5,Sukhothai
4122,40,male,enterprise,bachelor,other,other,Bang Khen,culture,4,Sukhothai
4123,11,female,other,other,other,other,Bang Khae,nature,3,Chonburi

#Data Understanding

Data Understanding

In [ ]:
dataset.shape

(4124, 10)

In [ ]:
dataset.isnull().sum()

Age           0
gender        0
occupation    0
education     0
lifestyle     0
favorite      0
zone          0
activity      0
month         0
place         0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4124 entries, 0 to 4123
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         4124 non-null   object
 1   gender      4124 non-null   object
 2   occupation  4124 non-null   object
 3   education   4124 non-null   object
 4   lifestyle   4124 non-null   object
 5   favorite    4124 non-null   object
 6   zone        4124 non-null   object
 7   activity    4124 non-null   object
 8   month       4124 non-null   int64
 9   place       4124 non-null   object
dtypes: int64(1), object(9)
memory usage: 322.3+ KB

In [ ]:
display(dataset['lifestyle'].value_counts())
display(dataset['favorite'].value_counts())

lifestyle
family        1340
party         1009
simplicity     818
technology     490
other          276
workaholic     191
Name: count, dtype: int64

favorite
travel       1842
concert       758
family        570
movie         476
other         254
rally          92
sport          89
celebrity      30
extreme        13
Name: count, dtype: int64

In [ ]:
display(dataset['activity'].value_counts())
display(dataset['Age'].value_counts())
display(dataset['occupation'].value_counts())
display(dataset['education'].value_counts())
display(dataset['activity'].value_counts())

lifestyle
family        1340
party         1009
simplicity     818
technology     490
other          276
workaholic     191
Name: count, dtype: int64

favorite
travel       1842
concert       758
family        570
movie         476
other         254
rally          92
sport          89
celebrity      30
extreme        13
Name: count, dtype: int64

activity
movie              1018
stand up comedy     968
journey             634
stageplay           469
concert             429
culture             156
concert             125
nature               93
camping              70
healty               48
beauty               46
healty               29
cooking              16
gourmet              12
photo                11
Name: count, dtype: int64

Age
51         137
48         135
47         133
49         133
52         131
          ...
#VALUE!      1
145          1
-64          1
79           1
76           1
Name: count, Length: 80, dtype: int64

occupation
business      1354
employee      1287
other          420
student        374
official       254
housewife      161
enterprise     120
freelance      116
retire          29
unemployed       9
Name: count, dtype: int64

education
bachelor        2039
graduate         720
secondary        584
other            323
diploma          244
primary          199
kindergarten      15
Name: count, dtype: int64

activity
movie              1018
stand up comedy     968
journey             634
stageplay           469
concert             429
culture             156
concert             125
nature               93
camping              70
healty               48
beauty               46
healty               29
cooking              16
gourmet              12
photo                11
Name: count, dtype: int64

In [ ]:
display(dataset.groupby(['favorite', 'lifestyle', 'Age']).size().unstack(fill_value=0))

display(dataset.groupby(['favorite', 'lifestyle', 'occupation']).size().unstack(fill_value=0))

display(dataset.groupby(['favorite', 'lifestyle', 'education']).size().unstack(fill_value=0))

display(dataset.groupby(['favorite', 'lifestyle', 'activity']).size().unstack(fill_value=0))

display(dataset.groupby(['favorite', 'lifestyle', 'gender']).size().unstack(fill_value=0))

Age                   #VALUE!  -64  10  11  12  13  14  145  15  16  ...  71  \
favorite  lifestyle                                                  ...
celebrity family            0    0   0   0   0   0   0    0   0   0  ...   0
          other             0    0   0   0   0   0   0    0   0   0  ...   0
          party             0    0   0   0   1   0   0    0   0   0  ...   0
          simplicity        0    0   0   0   0   0   0    0   0   0  ...   0
          technology        0    0   0   0   0   0   0    0   0   0  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0
concert   family            0    0   1   0   1   2   0    0   4   2  ...   0
          other             0    0   1   0   0   0   0    0   0   0  ...   0
          party             0    0   1   0   1   1   1    0   2   4  ...   0
          simplicity        0    0   0   1   1   0   0    0   0   1  ...   0
          technology        0    0   0   0   0   0   0    0   0   0  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0
extreme   party             0    0   0   0   0   0   1    0   0   0  ...   0
          simplicity        0    0   0   0   0   0   0    0   0   0  ...   0
          technology        0    0   0   0   0   0   0    0   0   0  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0
family    family            0    1   3   5   8   2   7    1   0   2  ...   0
          other             0    0   0   1   0   0   0    0   0   0  ...   0
          party             0    0   0   0   0   0   0    0   0   0  ...   0
          simplicity        0    0   0   2   1   0   0    0   0   0  ...   0
          technology        0    0   0   1   0   0   1    0   0   0  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   2
movie     family            1    0   1   1   1   1   1    0   1   2  ...   0
          other             0    0   0   1   0   0   3    0   0   0  ...   0
          party             0    0   0   0   1   1   0    0   0   1  ...   0
          simplicity        0    0   0   0   1   0   3    0   0   3  ...   0
          technology        0    0   0   0   1   0   0    0   1   0  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0
other     family            0    0   0   1   0   0   0    0   0   0  ...   0
          other             0    0  10  18  14  12  14    0   3   3  ...   1
          party             0    0   0   0   0   0   1    0   0   0  ...   0
          simplicity        0    0   0   0   0   0   0    0   0   0  ...   0
          technology        0    0   0   0   0   0   0    0   0   0  ...   0
          workaholic        0    0   1   0   2   0   1    0   0   1  ...   0
rally     family            0    0   1   0   1   0   0    0   0   2  ...   0
          party             0    0   1   0   0   0   0    0   1   0  ...   0
          simplicity        0    0   0   0   0   0   0    0   0   0  ...   0
          technology        0    0   0   0   0   0   0    0   0   0  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0
sport     family            0    0   0   1   0   0   2    0   0   0  ...   0
          other             0    0   0   0   0   0   0    0   0   0  ...   0
          party             0    0   0   0   0   0   0    0   5   0  ...   0
          simplicity        0    0   0   0   0   0   1    0   0   1  ...   0
          technology        0    0   0   0   0   0   0    0   0   2  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0
travel    family            0    0   2   4   4   0   0    0   6   2  ...   0
          other             0    0   0   0   0   0   1    0   0   0  ...   0
          party             0    0   3   0   2   0   3    0   2   2  ...   1
          simplicity        0    0   0   0   2   1   0    0   0   0  ...   0
          technology        0    0   3   2   3   0   0    0   0   1  ...   0
          workaholic        0    0   0   0   0   0   0    0   0   0  ...   0

Age                   72  73  74  75  76  79   8  81  9
favorite  lifestyle
celebrity family       0   0   0   0   0   0   0   0  0
          other        0   0   0   0   0   0   0   0  0
          party        0   0   0   0   0   0   0   0  0
          simplicity   1   0   0   0   0   0   0   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
concert   family       0   0   0   0   0   0   0   0  4
          other        0   0   0   0   0   0   0   0  1
          party        0   1   1   0   0   0   0   0  0
          simplicity   0   0   0   0   0   0   0   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
extreme   party        0   0   0   0   0   0   0   0  0
          simplicity   0   0   0   0   0   0   0   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
family    family       0   0   0   1   0   0   3   0  3
          other        0   0   0   0   0   0   0   0  0
          party        0   0   0   0   0   0   0   0  1
          simplicity   1   1   0   0   0   1   1   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
movie     family       0   0   0   0   0   0   2   0  0
          other        0   0   0   0   0   0   0   0  0
          party        0   2   0   0   0   0   0   0  0
          simplicity   0   0   0   0   0   0   0   0  0
          technology   0   0   0   0   1   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
other     family       0   0   0   0   0   0   1   0  1
          other        0   0   0   0   0   0  11   0  6
          party        0   0   0   0   0   0   0   0  0
          simplicity   1   0   0   0   0   0   0   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
rally     family       0   0   0   0   0   0   0   0  0
          party        0   0   0   0   0   0   0   0  0
          simplicity   0   0   0   1   0   0   0   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
sport     family       0   0   0   0   0   0   0   0  0
          other        0   0   0   0   0   0   0   0  0
          party        1   0   0   0   0   0   0   0  0
          simplicity   0   0   0   0   0   0   0   0  0
          technology   0   0   0   0   0   0   0   0  0
          workaholic   0   0   0   0   0   0   0   0  0
travel    family       0   0   1   1   0   0   2   1  0
          other        0   0   0   0   0   0   0   0  0
          party        1   0   1   0   0   0   0   0  1
          simplicity   1   2   0   0   0   0   0   0  0
          technology   0   0   1   0   0   0   1   0  2
          workaholic   0   0   0   0   0   0   0   0  0

[51 rows x 80 columns]

occupation            business  employee  enterprise  freelance  housewife  \
favorite  lifestyle
celebrity family             3         0           1          0          1
          other              0         0           0          0          0
          party              2         4           1          0          0
          simplicity         0         4           0          0          0
          technology         1         1           0          0          0
          workaholic         1         0           0          0          0
concert   family            85        60           5          2          7
          other              7         8           1          0          0
          party             87       103          13          6         13
          simplicity        27        40           2          2          1
          technology        36        34           8          3          0
          workaholic        23        15           0          0          0
extreme   party              2         1           0          0          1
          simplicity         0         0           1          0          0
          technology         2         0           0          0          0
          workaholic         0         2           0          0          0
family    family           128        97           7         11         29
          other              2         1           0          1          1
          party             32        15           0          0          2
          simplicity        30        27           1          4          4
          technology        16         9           2          0          1
          workaholic        22         5           0          0          0
movie     family            44        44           2          2          9
          other              0         6           0          0          0
          party             20        50           3          2          4
          simplicity        30        43           4          7          8
          technology        21        35           5          2          0
          workaholic         5         2           0          3          0
other     family             9         1           0          0          0
          other             18        20           3          1          1
          party              5         3           0          0          1
          simplicity         3         2           1          2          0
          technology         2         1           0          0          0
          workaholic         2         1           3          0          0
rally     family            13         6           1          2          4
          party              8         9           0          0          2
          simplicity         3         6           0          0          1
          technology         7         5           0          0          0
          workaholic         3         0           0          0          0
sport     family             6         7           0          0          0
          other              1         1           0          0          0
          party              6         8           0          1          1
          simplicity         6         8           1          2          0
          technology         4         5           1          0          0
          workaholic         2         3           0          0          0
travel    family           237       162          16         10         30
          other              9        12           3          3          2
          party            125       155           8         14         15
          simplicity       144       160          16         30         21
          technology        71        77          10          4          1
          workaholic        44        29           1          2          1

occupation            official  other  retire  student  unemployed
favorite  lifestyle
celebrity family             0      0       0        3           0
          other              0      0       0        1           0
          party              1      0       0        1           0
          simplicity         0      0       0        0           0
          technology         0      0       0        5           0
          workaholic         0      0       0        0           0
concert   family             7     10       1       27           1
          other              0      1       0        0           0
          party             15     13       0       46           1
          simplicity         6      6       1        7           0
          technology         5      5       0       16           0
          workaholic         1      1       0        0           0
extreme   party              0      0       0        3           0
          simplicity         0      0       0        0           0
          technology         0      0       0        1           0
          workaholic         0      0       0        0           0
family    family            22     28       1       23           0
          other              0      1       0        1           0
          party              6      4       1        2           0
          simplicity         4     10       1        7           0
          technology         3      2       1        4           0
          workaholic         0      2       0        0           0
movie     family            11     10       0       13           1
          other              0      2       0        5           0
          party              6      6       1       18           0
          simplicity         4     12       3        6           1
          technology         3      3       0       15           0
          workaholic         3      1       0        1           0
other     family             6      2       0        0           0
          other              2    125       0       25           0
          party              2      1       0        2           0
          simplicity         1      3       0        0           0
          technology         0      0       0        1           0
          workaholic         0      0       0        5           0
rally     family             1      5       0        5           0
          party              1      4       0        5           0
          simplicity         0      0       0        0           0
          technology         0      0       0        1           0
          workaholic         0      0       0        0           0
sport     family             1      4       0        2           0
          other              0      0       0        1           0
          party              0      1       0       10           0
          simplicity         1      1       0        2           0
          technology         0      0       0        3           0
          workaholic         0      0       0        0           0
travel    family            37     42       7       28           1
          other              5      5       0        1           0
          party             46     48       3       40           0
          simplicity        38     43       7       10           3
          technology        15     12       2       28           1
          workaholic         1      7       0        0           0

education             bachelor  diploma  graduate  kindergarten  other  \
favorite  lifestyle
celebrity family             3        1         0             0      3
          other              0        0         0             0      0
          party              5        1         1             0      0
          simplicity         1        1         1             0      0
          technology         1        0         1             0      0
          workaholic         0        0         0             0      0
concert   family           107       10        35             4      6
          other              7        1         4             1      1
          party            179       16        46             1     11
          simplicity        51        4        22             0      2
          technology        44        2        42             0      4
          workaholic        19        1        16             0      1
extreme   party              1        0         0             0      0
          simplicity         0        1         0             0      0
          technology         2        1         0             0      0
          workaholic         2        0         0             0      0
family    family           165       32        49             3     26
          other              4        1         0             0      1
          party             26        7         8             1      2
          simplicity        47        4        12             0      6
          technology        19        3         9             0      0
          workaholic         9        2        10             0      3
movie     family            64       11        20             1      9
          other              6        0         0             0      5
          party             66        3        17             0      2
          simplicity        60        9        16             0      0
          technology        50        4        19             0      2
          workaholic        10        0         1             0      0
other     family            11        1         4             0      0
          other             20        4        14             1    125
          party              7        1         3             0      1
          simplicity         4        0         3             0      2
          technology         0        1         1             0      0
          workaholic         1        0         3             0      0
rally     family            15        4         6             0      2
          party             20        1         0             0      1
          simplicity         9        0         1             0      0
          technology         7        1         1             0      1
          workaholic         0        0         3             0      0
sport     family            10        1         2             0      3
          other              2        0         0             0      0
          party             13        0         2             0      2
          simplicity        13        0         4             0      0
          technology         2        0         6             0      0
          workaholic         2        0         3             0      0
travel    family           297       36        84             2     36
          other             25        1         7             0      2
          party            248       33        84             1     22
          simplicity       225       36        95             0     19
          technology       115        7        50             0     14
          workaholic        45        2        15             0      9

education             primary  secondary
favorite  lifestyle
celebrity family            1          0
          other             0          1
          party             1          1
          simplicity        1          0
          technology        0          5
          workaholic        0          1
concert   family           19         24
          other             2          1
          party             8         36
          simplicity        3         10
          technology        0         15
          workaholic        1          2
extreme   party             1          5
          simplicity        0          0
          technology        0          0
          workaholic        0          0
family    family           12         59
          other             1          0
          party             2         16
          simplicity        7         12
          technology        1          6
          workaholic        1          4
movie     family            9         22
          other             1          1
          party             7         15
          simplicity        8         25
          technology        2          7
          workaholic        1          3
other     family            0          2
          other            17         14
          party             1          1
          simplicity        1          2
          technology        0          2
          workaholic        4          3
rally     family            0         10
          party             2          5
          simplicity        0          0
          technology        0          3
          workaholic        0          0
sport     family            2          2
          other             0          1
          party             1          9
          simplicity        1          3
          technology        0          5
          workaholic        0          0
travel    family           28         87
          other             2          3
          party            15         51
          simplicity       24         73
          technology        8         27
          workaholic        4         10

activity              beauty  camping  concert  concert   cooking  culture  \
favorite  lifestyle
celebrity family           0        0        0         0        0        1
          other            0        0        0         0        0        0
          party            0        0        1         0        1        0
          simplicity       0        0        1         0        0        1
          technology       0        0        0         0        0        0
          workaholic       0        0        1         0        0        0
concert   family           2        1       23        16        0        6
          other            0        2        1         0        0        0
          party            0        0       43        27        0        4
          simplicity       0        0       16         2        0        4
          technology       0        0       20         2        0        1
          workaholic       0        0        8         0        0        1
extreme   party            0        0        0         0        0        0
          simplicity       0        0        0         0        0        0
          technology       0        0        0         0        0        0
          workaholic       0        0        0         0        0        0
family    family           3       11       41         9        4       15
          other            0        1        1         0        0        0
          party            0        0        6         3        1        1
          simplicity       1        2       20         3        2        4
          technology       0        0        1         2        1        0
          workaholic       0        0        4         0        0        1
movie     family           4        3        7         3        0        4
          other            0        1        0         3        0        0
          party            0        0        9         2        0        2
          simplicity       1        0       10        10        1        6
          technology       0        0        8         2        0        0
          workaholic       0        0        2         0        0        0
other     family           0        0        1         0        0        0
          other            1       25       17         5        0        8
          party            0        0        1         0        0        0
          simplicity       0        0        1         1        0        0
          technology       0        0        0         0        0        0
          workaholic       0        2        4         0        0        0
rally     family           0        1        2         0        0        0
          party            0        0        4         0        0        0
          simplicity       1        0        0         0        0        1
          technology       0        0        1         0        0        0
          workaholic       0        0        0         0        0        0
sport     family           0        1        3         1        0        0
          other            0        0        0         0        0        0
          party            0        0        3         5        0        0
          simplicity       0        0        1         1        0        1
          technology       0        0        1         0        0        0
          workaholic       0        0        2         0        0        0
travel    family          10        8       42        16        2       32
          other            1        0        6         0        0        0
          party            7        3       42         3        3       19
          simplicity       8        1       56         5        0       26
          technology       6        8       15         3        0       11
          workaholic       1        0        4         1        1        7

activity              gourmet  healty  healty   journey  movie  nature  photo  \
favorite  lifestyle
celebrity family            0       1        0        1      1       0      0
          other             0       0        0        0      0       0      0
          party             0       0        0        2      4       0      0
          simplicity        0       0        0        0      0       0      0
          technology        0       0        0        1      2       0      0
          workaholic        0       0        0        0      0       0      0
concert   family            1       4        3       35     27       3      0
          other             0       1        0        1      4       0      0
          party             1       1        0       48     66       6      0
          simplicity        0       0        0       20     14       0      0
          technology        0       0        3        8     20       5      0
          workaholic        0       0        0        6      6       0      0
extreme   party             1       0        0        0      3       0      0
          simplicity        0       0        0        0      1       0      0
          technology        0       0        0        0      2       0      0
          workaholic        0       0        0        1      0       0      0
family    family            0       1        3       75    105       4      0
          other             0       0        1        0      1       0      0
          party             0       1        0        9     20       2      0
          simplicity        0       0        1       15     20       2      0
          technology        1       1        0       12     12       2      0
          workaholic        1       1        0        6      6       1      1
movie     family            0       0        1       18     47       1      0
          other             0       0        0        3      5       0      0
          party             0       0        1       17     30       1      1
          simplicity        1       0        1        9     41       2      0
          technology        0       1        1        7     29       2      0
          workaholic        0       0        0        3      7       0      0
other     family            0       2        1        0      4       1      0
          other             1       0        4       26     34       5      1
          party             0       0        0        3      6       0      0
          simplicity        0       1        0        2      2       0      0
          technology        0       0        0        0      1       0      0
          workaholic        0       0        0        2      1       0      0
rally     family            0       0        0       12     12       2      0
          party             0       0        0        6      9       0      0
          simplicity        0       0        0        2      4       0      0
          technology        0       0        1        4      3       1      0
          workaholic        0       0        0        1      1       0      0
sport     family            0       0        0        3      5       0      0
          other             0       0        0        1      0       0      0
          party             0       0        0        4      7       0      0
          simplicity        0       0        0        1      7       1      0
          technology        0       0        1        4      4       0      0
          workaholic        0       0        0        0      1       0      0
travel    family            1       7       10       82    133      17      4
          other             0       0        1        4     10       1      0
          party             0       2        3       75    110      11      3
          simplicity        3       3        7       72    113      18      1
          technology        1       0        4       24     60       2      0
          workaholic        0       2        1        9     18       3      0

activity              stageplay  stand up comedy
favorite  lifestyle
celebrity family              2                2
          other               0                1
          party               1                0
          simplicity          0                2
          technology          1                3
          workaholic          0                0
concert   family             32               52
          other               0                8
          party              35               66
          simplicity         10               26
          technology         17               31
          workaholic          5               14
extreme   party               0                3
          simplicity          0                0
          technology          0                1
          workaholic          0                1
family    family             32               43
          other               1                2
          party               7               12
          simplicity         11                7
          technology          2                4
          workaholic          6                2
movie     family             18               30
          other               0                1
          party              12               35
          simplicity         12               24
          technology         13               21
          workaholic          1                2
other     family              3                6
          other              21               47
          party               0                4
          simplicity          2                3
          technology          1                2
          workaholic          1                1
rally     family              3                5
          party               5                5
          simplicity          0                2
          technology          2                1
          workaholic          1                0
sport     family              4                3
          other               0                2
          party               1                7
          simplicity          4                5
          technology          1                2
          workaholic          2                0
travel    family             62              144
          other               4               13
          party              47              126
          simplicity         47              112
          technology         27               60
          workaholic         13               25

gender                female  male
favorite  lifestyle
celebrity family           7     1
          other            0     1
          party            4     5
          simplicity       3     1
          technology       4     3
          workaholic       1     0
concert   family         146    59
          other           14     3
          party          181   116
          simplicity      71    21
          technology      55    52
          workaholic      17    23
extreme   party            4     3
          simplicity       0     1
          technology       1     2
          workaholic       1     1
family    family         231   115
          other            5     2
          party           37    25
          simplicity      61    27
          technology      18    20
          workaholic      14    15
movie     family          99    37
          other            9     4
          party           73    37
          simplicity      77    41
          technology      32    52
          workaholic      10     5
other     family          15     3
          other          107    88
          party           10     4
          simplicity       9     3
          technology       4     0
          workaholic       9     2
rally     family          25    12
          party           14    15
          simplicity       7     3
          technology       6     7
          workaholic       0     3
sport     family           6    14
          other            0     3
          party            9    18
          simplicity       8    13
          technology       3    10
          workaholic       2     3
travel    family         406   164
          other           32     8
          party          315   139
          simplicity     332   140
          technology     100   121
          workaholic      49    36

In [ ]:
display(dataset[['lifestyle','favorite']].value_counts())

lifestyle   favorite
family      travel       570
simplicity  travel       472
party       travel       454
family      family       346
party       concert      297
technology  travel       221
family      concert      205
other       other        195
family      movie        136
simplicity  movie        118
party       movie        110
technology  concert      107
simplicity  concert       92
            family        88
workaholic  travel        85
technology  movie         84
party       family        62
other       travel        40
workaholic  concert       40
technology  family        38
family      rally         37
workaholic  family        29
party       rally         29
            sport         27
simplicity  sport         21
family      sport         20
            other         18
other       concert       17
workaholic  movie         15
party       other         14
technology  sport         13
other       movie         13
technology  rally         13
simplicity  other         12
workaholic  other         11
simplicity  rally         10
party       celebrity      9
family      celebrity      8
party       extreme        7
other       family         7
technology  celebrity      7
workaholic  sport          5
simplicity  celebrity      4
technology  other          4
other       sport          3
technology  extreme        3
workaholic  rally          3
            extreme        2
other       celebrity      1
simplicity  extreme        1
workaholic  celebrity      1
Name: count, dtype: int64

In [ ]:
display(dataset[['lifestyle','activity']].value_counts())

lifestyle   activity
family      movie              334
            stand up comedy    285
party       stand up comedy    258
            movie              255
family      journey            226
                              ...
workaholic  beauty               1
            gourmet              1
            cooking              1
            healty               1
            photo                1
Name: count, Length: 88, dtype: int64

In [ ]:
display(dataset[['favorite','activity']].value_counts())

favorite  activity
travel    stand up comedy    480
          movie              444
          journey            266
          stageplay          200
concert   stand up comedy    197
                            ...
sport     healty               1
rally     culture              1
          healty               1
sport     culture              1
          camping              1
Name: count, Length: 104, dtype: int64

#Data Preparation

In [ ]:
# à¹à¸›à¸¥à¸‡ Age à¹€à¸›à¹‡à¸™à¸•à¸±à¸§à¹€à¸¥à¸‚à¹à¸¥à¸°à¸à¸£à¸­à¸‡ outliers
dataset['Age'] = pd.to_numeric(dataset['Age'], errors='coerce')
dataset_cleaned = dataset[(dataset['Age'].notna()) &
                         (dataset['Age'] >= 0) &
                         (dataset['Age'] <= 120)].copy()

print(f"à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¹€à¸”à¸´à¸¡: {dataset.shape[0]} à¹à¸–à¸§")
print(f"à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸«à¸¥à¸±à¸‡à¸—à¸³à¸„à¸§à¸²à¸¡à¸ªà¸°à¸­à¸²à¸”: {dataset_cleaned.shape[0]} à¹à¸–à¸§")
print(f"à¸¥à¸šà¸­à¸­à¸: {dataset.shape[0] - dataset_cleaned.shape[0]} à¹à¸–à¸§")

à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¹€à¸”à¸´à¸¡: 4124 à¹à¸–à¸§
à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸«à¸¥à¸±à¸‡à¸—à¸³à¸„à¸§à¸²à¸¡à¸ªà¸°à¸­à¸²à¸”: 4122 à¹à¸–à¸§
à¸¥à¸šà¸­à¸­à¸: 2 à¹à¸–à¸§

In [ ]:
# à¹€à¸•à¸´à¸¡à¸„à¹ˆà¸² missing à¹ƒà¸™ Age à¸”à¹‰à¸§à¸¢ median
median_age = dataset_cleaned['Age'].median()
dataset_cleaned['Age'].fillna(median_age, inplace=True)
print(f"\nà¹€à¸•à¸´à¸¡à¸„à¹ˆà¸² Age à¸—à¸µà¹ˆà¸«à¸²à¸¢à¸”à¹‰à¸§à¸¢ median = {median_age}")

print("\nà¸à¸²à¸£à¸à¸£à¸°à¸ˆà¸²à¸¢à¸‚à¸­à¸‡ Age à¸«à¸¥à¸±à¸‡à¸—à¸³à¸„à¸§à¸²à¸¡à¸ªà¸°à¸­à¸²à¸”:")
display(dataset_cleaned['Age'].describe())

à¹€à¸•à¸´à¸¡à¸„à¹ˆà¸² Age à¸—à¸µà¹ˆà¸«à¸²à¸¢à¸”à¹‰à¸§à¸¢ median = 43.0

à¸à¸²à¸£à¸à¸£à¸°à¸ˆà¸²à¸¢à¸‚à¸­à¸‡ Age à¸«à¸¥à¸±à¸‡à¸—à¸³à¸„à¸§à¸²à¸¡à¸ªà¸°à¸­à¸²à¸”:

/tmp/ipython-input-1849862852.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset_cleaned['Age'].fillna(median_age, inplace=True)

count    4122.000000
mean       41.174430
std        14.058183
min         2.000000
25%        33.000000
50%        43.000000
75%        51.000000
max        81.000000
Name: Age, dtype: float64

--------------------------------------------

#Preparation à¸‚à¸­à¸‡ favorite

In [ ]:
# à¸à¸³à¸«à¸™à¸”à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ features à¹à¸¥à¸° target
features_cols_fav = ['Age', 'gender', 'occupation', 'education', 'activity']
target_col_fav = 'favorite'

# à¹à¸¢à¸à¸‚à¹‰à¸­à¸¡à¸¹à¸¥: à¸Šà¸¸à¸”à¸—à¸µà¹ˆà¹„à¸¡à¹ˆà¸¡à¸µ 'other' à¸ªà¸³à¸«à¸£à¸±à¸š train à¹à¸¥à¸°à¸Šà¸¸à¸”à¸—à¸µà¹ˆà¸¡à¸µ 'other' à¸ªà¸³à¸«à¸£à¸±à¸š impute
df_train_fav = dataset_cleaned[dataset_cleaned[target_col_fav] != 'other'].copy()
df_impute_fav = dataset_cleaned[dataset_cleaned[target_col_fav] == 'other'].copy()

print(f"\nà¸ˆà¸³à¸™à¸§à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:")
print(f"  - Training set (favorite â‰  'other'): {len(df_train_fav)} à¹à¸–à¸§")
print(f"  - Impute set (favorite = 'other'): {len(df_impute_fav)} à¹à¸–à¸§")

à¸ˆà¸³à¸™à¸§à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:
  - Training set (favorite â‰  'other'): 3868 à¹à¸–à¸§
  - Impute set (favorite = 'other'): 254 à¹à¸–à¸§

In [ ]:
# à¹€à¸•à¸£à¸µà¸¢à¸¡ X à¹à¸¥à¸° y à¸ªà¸³à¸«à¸£à¸±à¸š favorite
X_fav = df_train_fav[features_cols_fav].copy()
y_fav = df_train_fav[target_col_fav].copy()

print(f"\nà¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸‚à¸­à¸‡ X: {X_fav.shape}")
print(f"à¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸‚à¸­à¸‡ y: {y_fav.shape}")

à¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸‚à¸­à¸‡ X: (3868, 5)
à¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸‚à¸­à¸‡ y: (3868,)

In [ ]:
# Label Encoding à¸ªà¸³à¸«à¸£à¸±à¸š target (y)
le_fav = LabelEncoder()
y_fav_encoded = le_fav.fit_transform(y_fav)

print(f"\nà¸„à¸¥à¸²à¸ªà¸‚à¸­à¸‡ favorite: {le_fav.classes_}")
print(f"à¸ˆà¸³à¸™à¸§à¸™à¸„à¸¥à¸²à¸ª: {len(le_fav.classes_)}")

à¸„à¸¥à¸²à¸ªà¸‚à¸­à¸‡ favorite: ['celebrity' 'concert' 'extreme' 'family' 'movie' 'rally' 'sport' 'travel']
à¸ˆà¸³à¸™à¸§à¸™à¸„à¸¥à¸²à¸ª: 8

In [ ]:
# à¹à¸šà¹ˆà¸‡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¹€à¸›à¹‡à¸™ train/test (80/20) à¸à¹ˆà¸­à¸™ encoding X
X_train_fav, X_test_fav, y_train_fav, y_test_fav = train_test_split(
    X_fav, y_fav_encoded, test_size=0.2, random_state=42, stratify=y_fav_encoded
)

print(f"\nà¸à¸²à¸£à¹à¸šà¹ˆà¸‡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:")
print(f"  - Training: {len(X_train_fav)} à¹à¸–à¸§")
print(f"  - Testing: {len(X_test_fav)} à¹à¸–à¸§")

à¸à¸²à¸£à¹à¸šà¹ˆà¸‡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:
  - Training: 3094 à¹à¸–à¸§
  - Testing: 774 à¹à¸–à¸§

In [ ]:
# *** à¸ªà¸³à¸„à¸±à¸: One-Hot Encoding à¸«à¸¥à¸±à¸‡à¸ˆà¸²à¸ split à¹à¸¥à¹‰à¸§ ***
categorical_features_fav = ['gender', 'occupation', 'education', 'activity']

X_train_fav_encoded = pd.get_dummies(X_train_fav, columns=categorical_features_fav, drop_first=True)
X_test_fav_encoded = pd.get_dummies(X_test_fav, columns=categorical_features_fav, drop_first=True)

In [ ]:
# à¸ˆà¸±à¸”à¸à¸²à¸£à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¸—à¸µà¹ˆà¹„à¸¡à¹ˆà¸•à¸£à¸‡à¸à¸±à¸™
for col in X_train_fav_encoded.columns:
    if col not in X_test_fav_encoded.columns:
        X_test_fav_encoded[col] = 0

X_test_fav_encoded = X_test_fav_encoded[X_train_fav_encoded.columns]

print(f"\nà¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸«à¸¥à¸±à¸‡ One-Hot Encoding:")
print(f"  - X_train: {X_train_fav_encoded.shape}")
print(f"  - X_test: {X_test_fav_encoded.shape}")

à¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸«à¸¥à¸±à¸‡ One-Hot Encoding:
  - X_train: (3094, 31)
  - X_test: (774, 31)

#Preparation à¸‚à¸­à¸‡ life style

In [ ]:
# à¸à¸³à¸«à¸™à¸”à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ features à¹à¸¥à¸° target
features_cols_life = ['Age', 'gender', 'occupation', 'education', 'activity']
target_col_life = 'lifestyle'

# à¹à¸¢à¸à¸‚à¹‰à¸­à¸¡à¸¹à¸¥
df_train_life = dataset_cleaned[dataset_cleaned[target_col_life] != 'other'].copy()
df_impute_life = dataset_cleaned[dataset_cleaned[target_col_life] == 'other'].copy()

print(f"\nà¸ˆà¸³à¸™à¸§à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:")
print(f"  - Training set (lifestyle â‰  'other'): {len(df_train_life)} à¹à¸–à¸§")
print(f"  - Impute set (lifestyle = 'other'): {len(df_impute_life)} à¹à¸–à¸§")

à¸ˆà¸³à¸™à¸§à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:
  - Training set (lifestyle â‰  'other'): 3846 à¹à¸–à¸§
  - Impute set (lifestyle = 'other'): 276 à¹à¸–à¸§

In [ ]:
# à¹€à¸•à¸£à¸µà¸¢à¸¡ X à¹à¸¥à¸° y à¸ªà¸³à¸«à¸£à¸±à¸š lifestyle
X_life = df_train_life[features_cols_life].copy()
y_life = df_train_life[target_col_life].copy()

# Label Encoding à¸ªà¸³à¸«à¸£à¸±à¸š target
le_life = LabelEncoder()
y_life_encoded = le_life.fit_transform(y_life)

print(f"\nà¸„à¸¥à¸²à¸ªà¸‚à¸­à¸‡ lifestyle: {le_life.classes_}")
print(f"à¸ˆà¸³à¸™à¸§à¸™à¸„à¸¥à¸²à¸ª: {len(le_life.classes_)}")

à¸„à¸¥à¸²à¸ªà¸‚à¸­à¸‡ lifestyle: ['family' 'party' 'simplicity' 'technology' 'workaholic']
à¸ˆà¸³à¸™à¸§à¸™à¸„à¸¥à¸²à¸ª: 5

In [ ]:
# à¹à¸šà¹ˆà¸‡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¹€à¸›à¹‡à¸™ train/test
X_train_life, X_test_life, y_train_life, y_test_life = train_test_split(
    X_life, y_life_encoded, test_size=0.2, random_state=42, stratify=y_life_encoded)

print(f"\nà¸à¸²à¸£à¹à¸šà¹ˆà¸‡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:")
print(f"  - Training: {len(X_train_life)} à¹à¸–à¸§")
print(f"  - Testing: {len(X_test_life)} à¹à¸–à¸§")

à¸à¸²à¸£à¹à¸šà¹ˆà¸‡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥:
  - Training: 3076 à¹à¸–à¸§
  - Testing: 770 à¹à¸–à¸§

In [ ]:
# One-Hot Encoding
categorical_features_life = ['gender', 'occupation', 'education', 'activity']

X_train_life_encoded = pd.get_dummies(X_train_life, columns=categorical_features_life, drop_first=True)
X_test_life_encoded = pd.get_dummies(X_test_life, columns=categorical_features_life, drop_first=True)

In [ ]:
# à¸ˆà¸±à¸”à¸à¸²à¸£à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¸—à¸µà¹ˆà¹„à¸¡à¹ˆà¸•à¸£à¸‡à¸à¸±à¸™
for col in X_train_life_encoded.columns:
    if col not in X_test_life_encoded.columns:
        X_test_life_encoded[col] = 0

X_test_life_encoded = X_test_life_encoded[X_train_life_encoded.columns]

print(f"\nà¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸«à¸¥à¸±à¸‡ One-Hot Encoding:")
print(f"  - X_train: {X_train_life_encoded.shape}")
print(f"  - X_test: {X_test_life_encoded.shape}")

à¸£à¸¹à¸›à¸£à¹ˆà¸²à¸‡à¸«à¸¥à¸±à¸‡ One-Hot Encoding:
  - X_train: (3076, 31)
  - X_test: (770, 31)

#Model à¸‚à¸­à¸‡ favorite

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Logistic Regression
log_model_fav = LogisticRegression(max_iter=1000, random_state=42, n_jobs=-1)
log_model_fav.fit(X_train_fav_encoded, y_train_fav)
y_pred_log_fav = log_model_fav.predict(X_test_fav_encoded)

acc_log_fav = accuracy_score(y_test_fav, y_pred_log_fav)
print(f"Accuracy: {acc_log_fav:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_fav, y_pred_log_fav,
                          target_names=le_fav.classes_, zero_division=0))

Accuracy: 0.4729

Classification Report:
              precision    recall  f1-score   support

   celebrity       0.00      0.00      0.00         6
     concert       0.33      0.14      0.20       152
     extreme       0.00      0.00      0.00         3
      family       0.17      0.01      0.02       114
       movie       0.00      0.00      0.00        95
       rally       0.00      0.00      0.00        18
       sport       0.00      0.00      0.00        18
      travel       0.49      0.93      0.65       368

    accuracy                           0.47       774
   macro avg       0.12      0.14      0.11       774
weighted avg       0.32      0.47      0.35       774

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Decision Tree
dt_model_fav = DecisionTreeClassifier(random_state=42, max_depth=10)
dt_model_fav.fit(X_train_fav_encoded, y_train_fav)
y_pred_dt_fav = dt_model_fav.predict(X_test_fav_encoded)

acc_dt_fav = accuracy_score(y_test_fav, y_pred_dt_fav)
print(f"Accuracy: {acc_dt_fav:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_fav, y_pred_dt_fav,
                          target_names=le_fav.classes_, zero_division=0))

Accuracy: 0.4432

Classification Report:
              precision    recall  f1-score   support

   celebrity       0.50      0.17      0.25         6
     concert       0.34      0.16      0.22       152
     extreme       0.00      0.00      0.00         3
      family       0.16      0.05      0.08       114
       movie       0.29      0.15      0.19        95
       rally       0.00      0.00      0.00        18
       sport       0.25      0.06      0.09        18
      travel       0.49      0.80      0.61       368

    accuracy                           0.44       774
   macro avg       0.25      0.17      0.18       774
weighted avg       0.37      0.44      0.37       774

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Random Forest
rf_model_fav = RandomForestClassifier(n_estimators=100, random_state=42,
                                     max_depth=15, n_jobs=-1)
rf_model_fav.fit(X_train_fav_encoded, y_train_fav)
y_pred_rf_fav = rf_model_fav.predict(X_test_fav_encoded)

acc_rf_fav = accuracy_score(y_test_fav, y_pred_rf_fav)
print(f"Accuracy: {acc_rf_fav:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_fav, y_pred_rf_fav,
                          target_names=le_fav.classes_, zero_division=0))

Accuracy: 0.4574

Classification Report:
              precision    recall  f1-score   support

   celebrity       0.00      0.00      0.00         6
     concert       0.33      0.15      0.21       152
     extreme       0.00      0.00      0.00         3
      family       0.30      0.09      0.14       114
       movie       0.24      0.14      0.17        95
       rally       0.00      0.00      0.00        18
       sport       0.50      0.06      0.10        18
      travel       0.50      0.83      0.63       368

    accuracy                           0.46       774
   macro avg       0.23      0.16      0.16       774
weighted avg       0.39      0.46      0.38       774

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Gradient Boosting
GR_model_fav = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
GR_model_fav.fit(X_train_fav_encoded, y_train_fav)
y_pred_GR_fav = rf_model_fav.predict(X_test_fav_encoded)

acc_GR_fav = accuracy_score(y_test_fav, y_pred_GR_fav)
print(f"Accuracy: {acc_GR_fav:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_fav, y_pred_GR_fav,
                          target_names=le_fav.classes_, zero_division=0))

Accuracy: 0.4574

Classification Report:
              precision    recall  f1-score   support

   celebrity       0.00      0.00      0.00         6
     concert       0.33      0.15      0.21       152
     extreme       0.00      0.00      0.00         3
      family       0.30      0.09      0.14       114
       movie       0.24      0.14      0.17        95
       rally       0.00      0.00      0.00        18
       sport       0.50      0.06      0.10        18
      travel       0.50      0.83      0.63       368

    accuracy                           0.46       774
   macro avg       0.23      0.16      0.16       774
weighted avg       0.39      0.46      0.38       774

In [ ]:
# à¹€à¸›à¸£à¸µà¸¢à¸šà¹€à¸—à¸µà¸¢à¸šà¹‚à¸¡à¹€à¸”à¸¥
print("\n" + "="*60)
print("ðŸ“Š à¸ªà¸£à¸¸à¸›à¸œà¸¥à¸à¸²à¸£à¹€à¸›à¸£à¸µà¸¢à¸šà¹€à¸—à¸µà¸¢à¸šà¹‚à¸¡à¹€à¸”à¸¥ (FAVORITE)")
print("="*60)

accuracies_fav = {
    'Logistic Regression': acc_log_fav,
    'Decision Tree': acc_dt_fav,
    'Random Forest': acc_rf_fav,
    'Gradient Boosting': acc_GR_fav
}

for model_name, acc in sorted(accuracies_fav.items(), key=lambda x: x[1], reverse=True):
    print(f"{model_name:25s}: {acc:.4f}")

best_model_name_fav = max(accuracies_fav, key=accuracies_fav.get)
print(f"\nðŸ† Best Model: {best_model_name_fav} ({accuracies_fav[best_model_name_fav]:.4f})")

# à¹€à¸¥à¸·à¸­à¸ best model
if best_model_name_fav == 'Logistic Regression':
    best_model_fav = log_model_fav
elif best_model_name_fav == 'Decision Tree':
    best_model_fav = dt_model_fav
else:
    best_model_fav = rf_model_fav

============================================================
ðŸ“Š à¸ªà¸£à¸¸à¸›à¸œà¸¥à¸à¸²à¸£à¹€à¸›à¸£à¸µà¸¢à¸šà¹€à¸—à¸µà¸¢à¸šà¹‚à¸¡à¹€à¸”à¸¥ (FAVORITE)
============================================================
Logistic Regression      : 0.4729
Random Forest            : 0.4574
Gradient Boosting        : 0.4574
Decision Tree            : 0.4432

ðŸ† Best Model: Logistic Regression (0.4729)

#Model à¸‚à¸­à¸‡ lifestyle

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Logistic Regression
log_model_life = LogisticRegression(max_iter=1000, random_state=42, n_jobs=-1)
log_model_life.fit(X_train_life_encoded, y_train_life)
y_pred_log_life = log_model_life.predict(X_test_life_encoded)

acc_log_life = accuracy_score(y_test_life, y_pred_log_life)
print(f"Accuracy: {acc_log_life:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_life, y_pred_log_life,
                          target_names=le_life.classes_, zero_division=0))

Accuracy: 0.3753

Classification Report:
              precision    recall  f1-score   support

      family       0.39      0.69      0.50       268
       party       0.36      0.35      0.36       202
  simplicity       0.30      0.13      0.18       164
  technology       0.34      0.11      0.17        98
  workaholic       0.00      0.00      0.00        38

    accuracy                           0.38       770
   macro avg       0.28      0.26      0.24       770
weighted avg       0.34      0.38      0.33       770

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Decision Tree
dt_model_life = DecisionTreeClassifier(random_state=42, max_depth=10)
dt_model_life.fit(X_train_life_encoded, y_train_life)
y_pred_dt_life = dt_model_life.predict(X_test_life_encoded)

acc_dt_life = accuracy_score(y_test_life, y_pred_dt_life)
print(f"Accuracy: {acc_dt_life:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_life, y_pred_dt_life,target_names=le_life.classes_, zero_division=0))

Accuracy: 0.3870

Classification Report:
              precision    recall  f1-score   support

      family       0.43      0.72      0.54       268
       party       0.40      0.33      0.36       202
  simplicity       0.27      0.18      0.21       164
  technology       0.23      0.10      0.14        98
  workaholic       0.00      0.00      0.00        38

    accuracy                           0.39       770
   macro avg       0.27      0.27      0.25       770
weighted avg       0.34      0.39      0.35       770

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ Random Forest
rf_model_life = RandomForestClassifier(n_estimators=100, random_state=42,
                                      max_depth=15, n_jobs=-1)
rf_model_life.fit(X_train_life_encoded, y_train_life)
y_pred_rf_life = rf_model_life.predict(X_test_life_encoded)

acc_rf_life = accuracy_score(y_test_life, y_pred_rf_life)
print(f"Accuracy: {acc_rf_life:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_life, y_pred_rf_life,target_names=le_life.classes_, zero_division=0))

Accuracy: 0.4000

Classification Report:
              precision    recall  f1-score   support

      family       0.45      0.71      0.55       268
       party       0.37      0.36      0.36       202
  simplicity       0.35      0.21      0.26       164
  technology       0.24      0.12      0.16        98
  workaholic       0.10      0.03      0.04        38

    accuracy                           0.40       770
   macro avg       0.30      0.28      0.28       770
weighted avg       0.37      0.40      0.36       770

In [ ]:
# à¸à¸¶à¸à¹‚à¸¡à¹€à¸”à¸¥ GradientBoosting
gr_model_life = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
gr_model_life.fit(X_train_life_encoded, y_train_life)
y_pred_gr_life = gr_model_life.predict(X_test_life_encoded)

acc_gr_life = accuracy_score(y_test_life, y_pred_gr_life)
print(f"Accuracy: {acc_gr_life:.4f}")

print("\nClassification Report:")
print(classification_report(y_test_life, y_pred_gr_life,target_names=le_life.classes_, zero_division=0))

Accuracy: 0.3987

Classification Report:
              precision    recall  f1-score   support

      family       0.41      0.76      0.53       268
       party       0.45      0.37      0.41       202
  simplicity       0.28      0.12      0.16       164
  technology       0.23      0.09      0.13        98
  workaholic       0.50      0.03      0.05        38

    accuracy                           0.40       770
   macro avg       0.37      0.27      0.26       770
weighted avg       0.37      0.40      0.35       770

In [ ]:
# à¹€à¸›à¸£à¸µà¸¢à¸šà¹€à¸—à¸µà¸¢à¸šà¹‚à¸¡à¹€à¸”à¸¥
accuracies_life = {
    'Logistic Regression': acc_log_life,
    'Decision Tree': acc_dt_life,
    'Random Forest': acc_rf_life,
    'GradientBoosting': acc_gr_life
}

for model_name, acc in sorted(accuracies_life.items(), key=lambda x: x[1], reverse=True):
    print(f"{model_name:25s}: {acc:.4f}")

best_model_name_life = max(accuracies_life, key=accuracies_life.get)
print(f"\nðŸ† Best Model: {best_model_name_life} ({accuracies_life[best_model_name_life]:.4f})")

# à¹€à¸¥à¸·à¸­à¸ best model
if best_model_name_life == 'Logistic Regression':
    best_model_life = log_model_life
elif best_model_name_life == 'Decision Tree':
    best_model_life = dt_model_life
else:
    best_model_life = rf_model_life

Random Forest            : 0.4000
GradientBoosting         : 0.3987
Decision Tree            : 0.3870
Logistic Regression      : 0.3753

ðŸ† Best Model: Random Forest (0.4000)

#Evaluation

In [ ]:
# à¸ªà¹ˆà¸§à¸™à¸—à¸µà¹ˆ 5A: Impute à¸„à¹ˆà¸² 'other' à¹ƒà¸™ FAVORITE
print("\n" + "="*60)
print("à¸ªà¹ˆà¸§à¸™à¸—à¸µà¹ˆ 5A: Impute à¸„à¹ˆà¸² 'other' à¹ƒà¸™ FAVORITE")
print("="*60)

if len(df_impute_fav) > 0:
    print(f"à¸à¸³à¸¥à¸±à¸‡à¸—à¸³à¸™à¸²à¸¢ {len(df_impute_fav)} à¹à¸–à¸§à¸—à¸µà¹ˆà¸¡à¸µ favorite = 'other'...")

    # à¹€à¸•à¸£à¸µà¸¢à¸¡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸ªà¸³à¸«à¸£à¸±à¸š impute
    X_impute_fav = df_impute_fav[features_cols_fav].copy()
    X_impute_fav_encoded = pd.get_dummies(X_impute_fav, columns=categorical_features_fav, drop_first=True)

    # à¸ˆà¸±à¸”à¸à¸²à¸£à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹ƒà¸«à¹‰à¸•à¸£à¸‡à¸à¸±à¸š training set
    for col in X_train_fav_encoded.columns:
        if col not in X_impute_fav_encoded.columns:
            X_impute_fav_encoded[col] = 0

    X_impute_fav_encoded = X_impute_fav_encoded[X_train_fav_encoded.columns]

    # à¸—à¸³à¸™à¸²à¸¢à¸”à¹‰à¸§à¸¢ best model
    imputed_labels_fav = best_model_fav.predict(X_impute_fav_encoded)
    imputed_values_fav = le_fav.inverse_transform(imputed_labels_fav)

    # à¹à¸—à¸™à¸—à¸µà¹ˆà¸„à¹ˆà¸² 'other'
    dataset_imputed_fav = dataset_cleaned.copy()
    dataset_imputed_fav.loc[dataset_imputed_fav[target_col_fav] == 'other', target_col_fav] = imputed_values_fav

    print("\nâœ… Imputation à¸ªà¸³à¹€à¸£à¹‡à¸ˆ!")
    print("\nà¸à¸²à¸£à¸à¸£à¸°à¸ˆà¸²à¸¢à¸‚à¸­à¸‡ favorite à¸«à¸¥à¸±à¸‡ Impute:")
    print(dataset_imputed_fav[target_col_fav].value_counts())

    # à¸•à¸£à¸§à¸ˆà¸ªà¸­à¸šà¸§à¹ˆà¸²à¹„à¸¡à¹ˆà¸¡à¸µ 'other' à¹€à¸«à¸¥à¸·à¸­
    other_count = (dataset_imputed_fav[target_col_fav] == 'other').sum()
    print(f"\nà¸•à¸£à¸§à¸ˆà¸ªà¸­à¸š: à¸ˆà¸³à¸™à¸§à¸™ 'other' à¸—à¸µà¹ˆà¹€à¸«à¸¥à¸·à¸­ = {other_count} (à¸„à¸§à¸£à¹€à¸›à¹‡à¸™ 0)")

    # à¸šà¸±à¸™à¸—à¸¶à¸à¹„à¸Ÿà¸¥à¹Œ
    output_file_fav = 'dataset_imputed_favorite.csv'
    dataset_imputed_fav.to_csv(output_file_fav, index=False)
    print(f"\nðŸ’¾ à¸šà¸±à¸™à¸—à¸¶à¸à¹„à¸Ÿà¸¥à¹Œ: {output_file_fav}")
else:
    print("à¹„à¸¡à¹ˆà¸¡à¸µà¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸—à¸µà¹ˆà¸•à¹‰à¸­à¸‡ Impute")

============================================================
à¸ªà¹ˆà¸§à¸™à¸—à¸µà¹ˆ 5A: Impute à¸„à¹ˆà¸² 'other' à¹ƒà¸™ FAVORITE
============================================================
à¸à¸³à¸¥à¸±à¸‡à¸—à¸³à¸™à¸²à¸¢ 254 à¹à¸–à¸§à¸—à¸µà¹ˆà¸¡à¸µ favorite = 'other'...

âœ… Imputation à¸ªà¸³à¹€à¸£à¹‡à¸ˆ!

à¸à¸²à¸£à¸à¸£à¸°à¸ˆà¸²à¸¢à¸‚à¸­à¸‡ favorite à¸«à¸¥à¸±à¸‡ Impute:
favorite
travel       2069
concert       781
family        568
movie         479
rally          92
sport          90
celebrity      30
extreme        13
Name: count, dtype: int64

à¸•à¸£à¸§à¸ˆà¸ªà¸­à¸š: à¸ˆà¸³à¸™à¸§à¸™ 'other' à¸—à¸µà¹ˆà¹€à¸«à¸¥à¸·à¸­ = 0 (à¸„à¸§à¸£à¹€à¸›à¹‡à¸™ 0)

ðŸ’¾ à¸šà¸±à¸™à¸—à¸¶à¸à¹„à¸Ÿà¸¥à¹Œ: dataset_imputed_favorite.csv

In [ ]:
 # Impute à¸„à¹ˆà¸² 'other' à¹ƒà¸™ LIFESTYLE
if len(df_impute_life) > 0:
    print(f"à¸à¸³à¸¥à¸±à¸‡à¸—à¸³à¸™à¸²à¸¢ {len(df_impute_life)} à¹à¸–à¸§à¸—à¸µà¹ˆà¸¡à¸µ lifestyle = 'other'...")

    # à¹€à¸•à¸£à¸µà¸¢à¸¡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸ªà¸³à¸«à¸£à¸±à¸š impute
    X_impute_life = df_impute_life[features_cols_life].copy()
    X_impute_life_encoded = pd.get_dummies(X_impute_life, columns=categorical_features_life, drop_first=True)

    # à¸ˆà¸±à¸”à¸à¸²à¸£à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹ƒà¸«à¹‰à¸•à¸£à¸‡à¸à¸±à¸š training set
    for col in X_train_life_encoded.columns:
        if col not in X_impute_life_encoded.columns:
            X_impute_life_encoded[col] = 0

    X_impute_life_encoded = X_impute_life_encoded[X_train_life_encoded.columns]

    # à¸—à¸³à¸™à¸²à¸¢à¸”à¹‰à¸§à¸¢ best model
    imputed_labels_life = best_model_life.predict(X_impute_life_encoded)
    imputed_values_life = le_life.inverse_transform(imputed_labels_life)

    # à¹à¸—à¸™à¸—à¸µà¹ˆà¸„à¹ˆà¸² 'other'
    dataset_imputed_life = dataset_cleaned.copy()
    dataset_imputed_life.loc[dataset_imputed_life[target_col_life] == 'other', target_col_life] = imputed_values_life

    print("\nâœ… Imputation à¸ªà¸³à¹€à¸£à¹‡à¸ˆ!")
    print("\nà¸à¸²à¸£à¸à¸£à¸°à¸ˆà¸²à¸¢à¸‚à¸­à¸‡ lifestyle à¸«à¸¥à¸±à¸‡ Impute:")
    print(dataset_imputed_life[target_col_life].value_counts())

    # à¸•à¸£à¸§à¸ˆà¸ªà¸­à¸šà¸§à¹ˆà¸²à¹„à¸¡à¹ˆà¸¡à¸µ 'other' à¹€à¸«à¸¥à¸·à¸­
    other_count = (dataset_imputed_life[target_col_life] == 'other').sum()
    print(f"\nà¸•à¸£à¸§à¸ˆà¸ªà¸­à¸š: à¸ˆà¸³à¸™à¸§à¸™ 'other' à¸—à¸µà¹ˆà¹€à¸«à¸¥à¸·à¸­ = {other_count} (à¸„à¸§à¸£à¹€à¸›à¹‡à¸™ 0)")

    # à¸šà¸±à¸™à¸—à¸¶à¸à¹„à¸Ÿà¸¥à¹Œ
    output_file_life = 'dataset_imputed_lifestyle.csv'
    dataset_imputed_life.to_csv(output_file_life, index=False)
    print(f"\nðŸ’¾ à¸šà¸±à¸™à¸—à¸¶à¸à¹„à¸Ÿà¸¥à¹Œ: {output_file_life}")
else:
    print("à¹„à¸¡à¹ˆà¸¡à¸µà¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸—à¸µà¹ˆà¸•à¹‰à¸­à¸‡ Impute")

à¸à¸³à¸¥à¸±à¸‡à¸—à¸³à¸™à¸²à¸¢ 276 à¹à¸–à¸§à¸—à¸µà¹ˆà¸¡à¸µ lifestyle = 'other'...

âœ… Imputation à¸ªà¸³à¹€à¸£à¹‡à¸ˆ!

à¸à¸²à¸£à¸à¸£à¸°à¸ˆà¸²à¸¢à¸‚à¸­à¸‡ lifestyle à¸«à¸¥à¸±à¸‡ Impute:
lifestyle
family        1520
party         1038
simplicity     863
technology     505
workaholic     196
Name: count, dtype: int64

à¸•à¸£à¸§à¸ˆà¸ªà¸­à¸š: à¸ˆà¸³à¸™à¸§à¸™ 'other' à¸—à¸µà¹ˆà¹€à¸«à¸¥à¸·à¸­ = 0 (à¸„à¸§à¸£à¹€à¸›à¹‡à¸™ 0)

ðŸ’¾ à¸šà¸±à¸™à¸—à¸¶à¸à¹„à¸Ÿà¸¥à¹Œ: dataset_imputed_lifestyle.csv

#Deploymewnt

In [ ]:
# à¸ªà¹ˆà¸§à¸™à¸—à¸µà¹ˆ 6: à¸ªà¸£à¸¸à¸›à¸œà¸¥à¸£à¸§à¸¡
print("\n\n" + "="*60)
print("ðŸ“Š à¸ªà¸£à¸¸à¸›à¸œà¸¥à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™à¸—à¸±à¹‰à¸‡à¸«à¸¡à¸”")
print("="*60)

print("\nâœ… FAVORITE:")
print(f"   - Best Model: {best_model_name_fav}")
print(f"   - Accuracy: {accuracies_fav[best_model_name_fav]:.4f}")
print(f"   - Output File: dataset_imputed_favorite.csv")
print(f"   - à¸ˆà¸³à¸™à¸§à¸™à¹à¸–à¸§à¸—à¸µà¹ˆ Impute: {len(df_impute_fav)}")

print("\nâœ… LIFESTYLE:")
print(f"   - Best Model: {best_model_name_life}")
print(f"   - Accuracy: {accuracies_life[best_model_name_life]:.4f}")
print(f"   - Output File: dataset_imputed_lifestyle.csv")
print(f"   - à¸ˆà¸³à¸™à¸§à¸™à¹à¸–à¸§à¸—à¸µà¹ˆ Impute: {len(df_impute_life)}")

print("\n" + "="*60)
print("âœ… à¸à¸£à¸°à¸šà¸§à¸™à¸à¸²à¸£à¹€à¸ªà¸£à¹‡à¸ˆà¸ªà¸¡à¸šà¸¹à¸£à¸“à¹Œ!")
print("="*60)

============================================================
ðŸ“Š à¸ªà¸£à¸¸à¸›à¸œà¸¥à¸à¸²à¸£à¸—à¸³à¸‡à¸²à¸™à¸—à¸±à¹‰à¸‡à¸«à¸¡à¸”
============================================================

âœ… FAVORITE:
   - Best Model: Logistic Regression
   - Accuracy: 0.4729
   - Output File: dataset_imputed_favorite.csv
   - à¸ˆà¸³à¸™à¸§à¸™à¹à¸–à¸§à¸—à¸µà¹ˆ Impute: 254

âœ… LIFESTYLE:
   - Best Model: Random Forest
   - Accuracy: 0.4000
   - Output File: dataset_imputed_lifestyle.csv
   - à¸ˆà¸³à¸™à¸§à¸™à¹à¸–à¸§à¸—à¸µà¹ˆ Impute: 276

============================================================
âœ… à¸à¸£à¸°à¸šà¸§à¸™à¸à¸²à¸£à¹€à¸ªà¸£à¹‡à¸ˆà¸ªà¸¡à¸šà¸¹à¸£à¸“à¹Œ!
============================================================

#à¸ˆà¸±à¸”à¸à¸¥à¸¸à¹ˆà¸¡à¸¥à¸¹à¸à¸„à¹‰à¸²à¸•à¸²à¸¡à¸à¸´à¸ˆà¸à¸£à¸£à¸¡à¸—à¸µà¹ˆà¹€à¸«à¸¡à¸²à¸°à¸ªà¸¡

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report, f1_score
import numpy as np

In [ ]:
# 1. à¹‚à¸«à¸¥à¸”à¹à¸¥à¸°à¸£à¸§à¸¡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸—à¸µà¹ˆà¸–à¸¹à¸ Impute à¹à¸¥à¹‰à¸§
# à¹‚à¸«à¸¥à¸”à¹„à¸Ÿà¸¥à¹Œà¸—à¸µà¹ˆ Impute favorite à¹à¸¥à¸° lifestyle à¹à¸¥à¹‰à¸§
df_fav_imputed = pd.read_csv('dataset_imputed_favorite.csv')
df_life_imputed = pd.read_csv('dataset_imputed_lifestyle.csv')

In [ ]:
# 2. à¸à¸²à¸£à¸£à¸§à¸¡à¸‚à¹‰à¸­à¸¡à¸¹à¸¥ (Merging)
# à¸à¸²à¸™à¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸«à¸¥à¸±à¸à¸—à¸µà¹ˆà¸ªà¸¡à¸šà¸¹à¸£à¸“à¹Œ (à¸¡à¸µ favorite à¸—à¸µà¹ˆà¸–à¸¹à¸à¹€à¸•à¸´à¸¡à¹à¸¥à¹‰à¸§)
df_combined = df_fav_imputed.copy()

# 1. à¸¥à¸šà¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ 'lifestyle' à¸—à¸µà¹ˆà¸¢à¸±à¸‡à¹„à¸¡à¹ˆà¹„à¸”à¹‰ Impute à¸­à¸­à¸à¸ˆà¸²à¸à¸à¸²à¸™
#    (à¹€à¸™à¸·à¹ˆà¸­à¸‡à¸ˆà¸²à¸ df_imputed_favorite à¸¡à¸µà¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ 'lifestyle' à¹€à¸”à¸´à¸¡)
df_combined = df_combined.drop(columns=['lifestyle'])

# 2. à¸”à¸¶à¸‡à¹€à¸‰à¸žà¸²à¸°à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ 'lifestyle' à¸—à¸µà¹ˆà¸–à¸¹à¸ Impute à¹à¸¥à¹‰à¸§à¸ˆà¸²à¸à¸­à¸µà¸à¹„à¸Ÿà¸¥à¹Œ
#    à¹à¸¥à¸°à¹€à¸žà¸´à¹ˆà¸¡à¹€à¸›à¹‡à¸™à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹ƒà¸«à¸¡à¹ˆà¹€à¸‚à¹‰à¸²à¸ªà¸¹à¹ˆ df_combined à¹‚à¸”à¸¢à¸­à¸²à¸¨à¸±à¸¢ Index à¸—à¸µà¹ˆà¸•à¸£à¸‡à¸à¸±à¸™
df_combined['lifestyle'] = df_life_imputed['lifestyle']

# à¹€à¸£à¸²à¸ˆà¸°à¹€à¸›à¸¥à¸µà¹ˆà¸¢à¸™à¸Šà¸·à¹ˆà¸­à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¹€à¸žà¸·à¹ˆà¸­à¹ƒà¸«à¹‰à¹€à¸«à¹‡à¸™à¸„à¸§à¸²à¸¡à¹à¸•à¸à¸•à¹ˆà¸²à¸‡à¸à¸±à¸šà¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¹€à¸”à¸´à¸¡ (à¸«à¸²à¸à¸•à¹‰à¸­à¸‡à¸à¸²à¸£)
df_combined = df_combined.rename(columns={
    'favorite': 'favorite_Imputed',
    'lifestyle': 'lifestyle_Imputed'
})
df_combined

,Age,gender,occupation,education,favorite_Imputed,zone,activity,month,place,lifestyle_Imputed
0,34.0,female,employee,graduate,family,Watthana,cooking,1,Cooking Studio Town in Town,family
1,63.0,female,business,bachelor,travel,Yan Nawa,cooking,1,Cooking Studio Town in Town,family
2,37.0,female,employee,bachelor,travel,Watthana,cooking,1,Cooking Studio Town in Town,family
3,51.0,female,business,bachelor,family,Lat Phrao,cooking,1,Cooking Studio Town in Town,family
4,61.0,female,business,bachelor,family,Suan Luang,cooking,1,Cooking Studio Town in Town,family
...,...,...,...,...,...,...,...,...,...,...
4117,9.0,female,other,other,travel,Thung Khru,stageplay,9,Rachadalai Theatre,family
4118,64.0,female,business,bachelor,travel,Bang Rak,culture,4,Sukhothai,family
4119,11.0,female,other,other,travel,Bang Khae,culture,5,Sukhothai,family
4120,40.0,male,enterprise,bachelor,travel,Bang Khen,culture,4,Sukhothai,family
4121,11.0,female,other,other,travel,Bang Khae,nature,3,Chonburi,family

In [ ]:
display(df_combined['lifestyle_Imputed'].value_counts())
display(df_combined['favorite_Imputed'].value_counts())

lifestyle_Imputed
family        1520
party         1038
simplicity     863
technology     505
workaholic     196
Name: count, dtype: int64

favorite_Imputed
travel       2069
concert       781
family        568
movie         479
rally          92
sport          90
celebrity      30
extreme        13
Name: count, dtype: int64